.comment__task__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 10002;

  .comment__task__header {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;

    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      padding-top: 5px;
    }

    i {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;
    }
  }

  .comment__task__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-height: 50vh;
    overflow-y: auto;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }

    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      padding-top: 5px;
    }

    .comment__task__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;

      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        .infor__user {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
          }

          &__name {
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
            color: #000;
            margin: 0;
          }

          &__create {
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: #8a8a8a;
            margin: 0;
          }
        }
      }

      &__content {
        width: 100%;
        padding-left: 30px;

        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #8a8a8a;
        }
      }
    }
  }

  .comment__task__footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .comment__task__create__content {
      flex: 1;
      display: flex;
      flex-direction: column;

      textarea {
        width: 100%;
        height: 80px;
        border-radius: 10px;
        padding: 10px;
        background-color: #eef9f5;
        border: none;
        resize: none;

        &:focus {
          outline: none;
        }
        &:hover {
          border: none;
        }
      }

      .wrapper_icon_comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        .wrapper_icon_features {
          display: flex;
          align-items: center;
          gap: 8px;

          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }

        .send__comment {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          padding: 8px;
          margin-left: 10px;
          border: 1px solid #156854;
          border-radius: 10px;
          background-color: #fff;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #e6f3ff;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
