$color-bg-main: #045745;
$color-bg-light: #ffffff;
.meeting {
  width: 100%;
  height: auto;
  overflow-y: auto;
  background-color: $color-bg-light;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  &__title {
    width: 284px;
    height: auto;
    background-color: $color-bg-main;
    padding: 12px 24px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 8px 24px 8px 12px;
    h2 {
      color: $color-bg-light;
      line-height: 30px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
