.incoming__task {
  width: 546px;
  height: 364px;
  background-color: var(--bg--nav);
  border-radius: 20px;
  padding: 15px 14px 0 10px;

  h2 {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    line-height: 21px;
  }
}
