.head-container {
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    img {
      width: 200px;
      height: 200px;
    }

    &-content {
      width: 435px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      &-date {
        width: 100%;
        height: auto;
        h2 {
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          color: var(--text--heading-1);
        }
      }

      &-current-session {
        width: 100%;
        height: auto;
        h2 {
          font-size: 52px;
          font-weight: bold;
          line-height: 76px;
          letter-spacing: -0.45px;
          &.active {
            color: var(--text--name);
          }
        }
      }

      .current-session-heading {
        font-size: 52px;
        font-weight: bold;
        line-height: 76px;
        letter-spacing: -0.45px;
        color: var(--text--heading-1);
        &.active {
          color: var(--text--heading-1);
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &-task {
      width: 165px;
      height: 200px;
      background-color: var(--bg--primary-color);
      border-radius: 20px;
      padding: 20px 20px 10px 20px;
      img {
        width: 100%;
        height: 94px;
      }

      &-content {
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        &-title {
          font-size: 14px;
          line-height: 21px;
          font-weight: 500;
        }

        &-sum {
          font-size: 32px;
          font-weight: bold;
          line-height: 48px;
        }
      }
    }
  }
}
