.plan__component {
  width: 1112px;
  height: 478px;
  border-radius: 20px;
  background-color: var(--bg--nav);

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 10px 0 9px;

    &__heading {
      width: 91px;
      height: 54px;
      padding: 18px 35px 5px 20px;
      background-color: var(--color--div-head);
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      text-align: center;
      white-space: nowrap;
      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 21px;
        color: var(--text--color-manage);
      }
    }

    &__main__content {
      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden;
        border-radius: 10px;

        input {
          width: 15px;
          height: 15px;
          border-radius: 10px;
          border: 1px solid #d0d5dd;
          background-color: #ffff;
          margin-top: 5px;
        }

        thead {
          background-color: var(--bg--color--table);
          th {
            padding: 12px 20px;
            text-align: left;
            font-weight: 500;
            font-size: 13px;
            line-height: 21px;
            color: #000;
            &:nth-child(1) {
              width: 68px;
              text-align: center;
            }
            &:nth-child(2) {
              width: 454px;
            }
            &:nth-child(3) {
              width: 200px;
            }
            &:nth-child(4) {
              width: 93px;
            }
            &:nth-child(5) {
              width: 145px;
            }
            &:nth-child(6) {
              width: 127px;
            }
          }
        }
      }
    }
  }
}
