.task__completion {
  width: 1112px;
  height: 297px;
  background-color: var(--bg--nav);
  border-radius: 20px;
  padding: 24px 24px 0 24px;
  margin-top: 20px;
  h2 {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    line-height: 21px;
  }
}
