$color-text: #ffffff;
$-color-text-add: #545454;

.column-list-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  .column-list {
    width: 180px;
    padding: 10px 20px;
    .prop-status {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: #ffffff;
        font-size: 16px;
        font-style: 700;
        line-height: 24px;
        margin: 0;
      }
    }
  }

  .column-task {
    width: 100%;
    table {
        width: 100%;
    }
  }
}
