.task_list_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  .task_list_head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .task_list_head_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 8px;
    h2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #000;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #000;
    }
  }

  .task_list_member {
    width: 100%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding-left: 10px;
      margin: 0;
    }

    li {
      position: relative;
      margin-left: -10px;
      &:nth-child(n + 4):not(.extra-count) {
        display: none;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #fff;
        object-fit: cover;
      }
    }
  }

  .extra-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #fff;
    margin-left: -10px;
    z-index: 1;
  }
}
