.list__student__container {
  margin-top: 50px;
  width: 1112px;
  height: 646px;
  background-color: var(--bg--nav);
  padding: 10px 12px 20px 12px;
  border-radius: 20px;
  .list__student {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      &__title {
        width: 209px;
        height: 54px;
        padding: 18px 25px 5px 20px;
        background-color: var(--color--div-head);
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        white-space: nowrap;
        h2 {
          font-size: 24px;
          font-weight: 600;
          line-height: 21px;
          color: var(--text--color-manage);
        }
      }

      &__feature {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i {
          font-size: 14px;
          line-height: 21px;
          transition: color 0.5s ease-in;
          color: var(--text-color);
          &:hover {
            color: var(--color--active-line);
          }
        }
      }
    }
  }
}
