body.dark {
  // Color background
  --bg-color: #1c1b1b;
  --bg--primary-color: #057059;
  --bg--nav: #000;
  --bg--color--announcement: #000;
  --bg--color--meeting: #055443;
  --bg--color--login : #000000;
  // Color text
  --text-color: #fff;
  --text--heading-1: #f2f2f2;
  --text--name: #09aa87;
  --text--heading--home: #09aa87;
  --text--color-manage: #045745;
  // Color border input
  --color--boder-input: #e8e8e8;
  --color--border-task: #045745;
  // Color div
  --color--div-head: #f2f2f2;
  --color--div-body: #2a2a2a;
  --color--div-info: #2a2a2a;

  // Color active
  --color--active-line:  #06624e;
}
