:root {
  --bg-color: #edf2f2;
  --text-color: #000;
  --text--heading-1: #333333;
  --text--name: #045745;
  --color--div-head: #045745;
  --color--div-body: #ffffff;
  --bg--primary-color: #045745;
}
